#contact {
    max-width: 1700px;
    margin: 0 auto;
    padding-block: 2.5rem;
    background: url(../assets/beta-bg.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    min-height: 70vh;
    position: relative;
}
.foot-wave {
    position: absolute;
    inset: 0;
    /* top: -100px; */
    width: 100%;
    height: auto;
    color: inherit;
}

.contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding-top: 15rem;
    position: relative;
    bottom: 0;
    padding-bottom: 3rem;
    max-width: 1000px;
    margin: 0 auto;
}
.card-left {
    text-align: center;
    color: black;
}
.card-left h4 {
    font-size: 2.5rem;
    
}
.card-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding-inline: 1rem;
}
.card-right a, .card-right p {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: .3s ease;
    font-weight: bold;
}
.card-right a:hover {
    color: rgb(71, 10, 128);
}

@media (max-width:920px) {
    .card-right {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width:745px) {
    .contact-content {
        padding-top: 10rem;
    }
}